{{ extends "layout.html" }}
{{ define "title" }}Hook - {{ .Hook.Name }}{{ end }}
{{ define "icon" }}<link rel="shortcut icon" href="{{ favicon .Hook.Color | safeURL }}" />{{ end }}

{{ define "hookurl" }}
  <a href="{{ .Common.BaseURL }}/i/{{ .Hook.Name }}"><i class="icon-circle icon-2x" style="color: rgb({{ rgb .Hook.Color }})"></i></a>
  <input type="text" value="{{ .Common.BaseURL }}/{{ .Hook.Name }}" onclick="this.select()" />
  {{ if .Hook.Private }}<i class="icon-lock"></i>{{ end }}
{{ end }}

{{ define "content" }}
  {{ if .Hook.Requests }}
    {{ range .Hook.Requests }}
      <div class="message-wrapper" id="message-wrapper-{{ .Name }}">
        <div class="message-list">
          <div class="row-fluid">
            <div class="span4">
              {{ $.Common.BaseURL }}<br>
              <span class="method">{{ .Method }}</span>
              <span class="absolute-path">{{ .Path }}</span>{{ if .Query }}<span class="querystring">?{{ .Query }}</span>{{ end }}
            </div>
            <div class="span6 content">
              {{ if .ContentType }}<i class="icon-code"></i>{{ end }} {{ .ContentType }}<br>
              <i class="icon-cloud-upload"></i> {{ .ContentLength | humanizeSize }}
            </div>
            <div class="span2" class="timestamp">
              <span title="{{ .Created }}">{{ .Created | humanizeTime }} <a href="#{{ .Name }}"><i class="icon-link"></i></a></span><br>
              From {{ .RemoteAddr }}
            </div>
          </div>
        </div>
        <div id="detail-{{ .Name }}" class="message-detail">
          {{ template "partials/details.html" . }}
        </div>
      </div>
    {{ end }}
  {{ else }}
    <h4 class="text-center">Hook URL</h4>
    <h2 class="text-center">
      <input class="xxlarge input-xxlarge" type="text" value="{{ .Common.BaseURL }}/{{ .Hook.Name }}" onclick="this.select()" style="border-color: rgb({{ rgb .Hook.Color }}); border-width: 3px;" />
    </h2>
    {{ if .Hook.Private }}<p class="text-center">This is a private hook. Requests are only viewable from this browser.</p>{{ end }}
    <hr>
    <div class="row-fluid">
      <div class="span6 offset3">
        <h4>Make a request to get started.</h4>
        {{ template "partials/examples.html" . }}
        <hr>
        <div class="alert-message block-message info">
          <h4>Limits</h4>
          <p>This {{ if .Hook.Private }}<strong>private</strong>{{ end }}
          hook will remain available for {{ .Common.TTL }} hours after it was created.
          However, data might be cleared at any time, so <strong>treat hooks as highly ephemeral</strong>.</p>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
